.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header {
    background-image: Url='https://imgur.com/a/A4Y4v11';
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;
    max-height: 75px;
}
.main{
    background-image: url='https://imgur.com/a/hShQW23' ;
    height: cover;
    background-size: cover;
    margin-right: 20px;

}
.App-NavBar{
    background-color: blanchedalmond;
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    border-color: black;
    border-width: 100px; 
    width: 100px ; 
    height: 250px;
    padding: 15px;
    text-justify: center ;
    text-align: center;
    font-weight: bold;
    color: blueviolet;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
h1{
    background-color: black;
    text-align: center;
    color: white;
    
}
.MealName{
    align-items: center;
    text-align: center;

}
.nomeal{
    text-align: center;
}
.Container{
    margin: 20px auto;
    width:auto;
    height:auto;
    padding: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:  1em;
    justify-content: center;
    align-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    line-height: 1.75em;
}
.mealImage {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
    
} 
.box {
    display:grid;
    background-color: white;
    border: 3px solid black;
    border-radius: 1rem;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
  }
.searchbox{
    background-color:#fffbf8;
    padding:13px;
    width:335px;
    margin:100px auto;
    box-sizing:border-box;
    border-radius:6px;;
}
h4{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}
p{
    text-align: center;
}