.App-NavBar{
    background-image: url('./picture/Nom-Nom-logo/default.png');
}
/* .main{
    background-image: url('https://imgur.com/a/hShQW23');
    height: 100vh;
    display: flex;
    background-size: cover;
    margin-right: 20px;

} */